html,body {
	height:100%;
    /*background:center no-repeat fixed url('/assets/example/bg_suburb.jpg');*/
    background-size: cover;
}
.btn-sm{
  position: fixed;
  margin-right: -60px !important;
  margin-top: 45%;
  padding: 20px 20px;
  font-size: 4px;
  color: white;
  text-align: center;
  /*text-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);*/
  background-color: #279ddd;
  /*border: 0;*/
  cursor: pointer;
  /*-webkit-box-shadow: inset 0 -3px #9FE8EF;*/
  box-shadow: inset 0 -3px #9FE8EF;
}
.icon-bar {
	background-color:#fff;
}

.select-workarea {
    display: none;
}

.navbar-trans {
	background-color:#279ddd;
    color:#fff;
    font-size: 15px;
}
.navbar-nav>li>a:focus, .navbar-nav>li>a:hover, .nav .open>a:hover, .nav .open>a:focus,  .nav .open>a {
    background-color: #279fff !important;
}
/*.navbar-nav>ul {
    background-color: #279ddd !important;
}
*/
.navbar-trans li>a:hover,.navbar-trans li>a:focus,.navbar-trans li.active {
	/*background-color:#38afef;*/
}

.navbar-trans a{
    color:#fefefe;
}

.navbar-trans .form-control:focus {
	border-color: #eee;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(100,100,100,0.6);
}

section {
	padding-top:70px;  
    padding-bottom:50px; 
    min-height:calc(100% - 1px);
}

.v-center {
    padding-top:8%;
    font-size:4em;
}
  
.well {
	border-color:transparent;
}

a.list-group-item.active,[class*='-info'] {
	background-color: #168ccc;
    color:#fff;
}
  
#section1 {
    /*background-image: url("../Images/background_24.jpg");*/
    background-attachment: fixed;
    background-color: rgba(25,140,204,0.1);
    color:#dedeff;
    letter-spacing: 1.5;
    background-size: 100% 100%; 

}
.search_icon:hover
{
    /*font-size: 25px;*/
    color: white;
}
.chemist {
    margin-left: 15% !important;
    margin-right: 15% !important ;
}
.chemist_store {
    /*margin-bottom: -25%;*/
    margin-top: 5%;
    border-radius: 4px !important;
    width: 220px;
    font-size: 24px;
    letter-spacing: 1.1px;
    font-weight: 400;
    height: 45px;
    font-family: inherit; 
}
#section2 {
	background-color: #e5e5ef;
    color:#686868;
}
  
#section3 {
	background-color: #168ccc;
    color:#ddd;
}
.physician_directory
{
    font-size: 24px;
    letter-spacing: 1.5px;
    font-weight: 400;
    margin-bottom: 20%;
    border-radius: 4px !important;
    height: 50px;
    width: 280px; !important;
    font-family: inherit;   
}
#section4 {
	background-color: #e5e5ef;
    color:#686868;
}
.pill_identifier
{
    font-size: 22px;
    letter-spacing: 1.5px;
    font-weight: 400;
    /*margin-top: 15% !important;*/
    border-radius: 4px !important;
    height: 45px;
    width: 200px;
    font-family: inherit;
}
#section5 {
    /*background-image: url("../Images/symptoms.jpg");*/
    /*background-size: 20% 100%;*/
    background-repeat: no-repeat;
}
.symptoms_checker
{
    width: 280px !important;
    font-size: 22px;
    letter-spacing: 1.5px;
    font-weight: 400;
    /*margin-bottom: 1%;*/
    margin-top: 5% !important;
    border-radius: 4px !important;
    height: 45px;
    font-family: inherit;
}
#section5 {
	background-color: #168ccc;
    color:#ddd;
}
#section6
{
    background-color: #e5e5ef;
    color:#686868;   
    width: 100%;
}
.health_a_z {
    font-size: 22px;
    letter-spacing: 1.5px;
    font-weight: 400;
    margin-top: 10%;
    /*margin-bottom: -20% !important;*/
    border-radius: 4px !important;
    height: 45px;
    width: 180px;
    font-family: inherit;
}
#section7 {
    background-image:url("../Images/android1.jpg"); 
    /*background-attachment: fixed;*/
    background-color: #168ccc;
    color:#ddd;
    /*background-repeat: no-repeat;*/
    /*background-size: 100%;*/
}
.android {
    background-color: transparent;
    font-size: 25px;
    letter-spacing: 1.5px;
    color: #ccc;
    font-weight: 400;
    border-width: 3px;
    border-style: solid;
    border-color: #ccc !important;
    border-radius: 4px !important;
    word-spacing: 2px;
    margin-top: 4% !important;
    height: 55px;
    width: 280px;
    font-family: inherit;
}
.android : hover {
    color: #fff !important;
    border-color: #fff !important; 
    background-color: transparent !important;
}
#section8 {
    background-color: #e5e5ef;
    color:#686868;   
    width: 100%;
}

#div_services
{
    color:#686868;
    background-image: url("../Images/background_36.jpg");
    background-attachment: fixed;
    height: 100%;
    letter-spacing: 1.5;
    background-size: 100% 100%;
    min-height: 700px;
}
#div_about_us
{
    /*background-color: #e5e5ef;*/
    background-image: url("../Images/background_36.jpg");
    background-attachment: fixed;
    color:#686868;
    height: 100%;
    letter-spacing: 1.5;
    background-size: 100% 100%;
    min-height: 700px;
}
#section_pillsIdentifier
{
    background-color: #e5e5ef;
    color:#686868;
}
.pills {
    width: 480px;
    font-size: 14px;
    font-weight: 300;
    font-family: sans-serif;
    min-width: 180px;
    background-color: transparent;
}
#section_pillsIdentifier_result
{
    /*display: none;*/
    background-color: #e5e5ef;
    color:#686868;
}
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../Images/background_24.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
.box {
  background-color: transparent;
  transition:all 0.2s ease;
  border:2px dashed #ddd;
  margin-top: 50px;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding:0 20px 20px 20px;
  min-height:340px;
  /*margin-top: 50%;*/
  margin-left: 0%;
  /*margin-right: 20%;*/
  /*margin-bottom: 250px;*/
}

.box:hover {
  border:2px solid #fff;
}

.box span.box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.box .box-content .pill_result_box_content{
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;

}
.box .box-content p {
  color:#fff;
  text-transform:none;
}
.tag-title
{
  color: #fff;
  font-size: 4em;
}
.pill_result_box {
    background-color: transparent;
    transition:all 0.2s ease;
    border:2px solid #aaa;
    margin-top: 50px;
    box-sizing: border-box;
    border-radius: 5px;
    /*background-clip: padding-box;*/
    padding:0 20px 20px 20px;
    min-height:340px;
    max-height: 700px;
    height: 100%;
    margin-left: 0%;
}
.pill_info
{
    float: left;
    width: 120px;
}
.pill_info>h3{
    /*font-size: 4em;*/
}
.pill_info p {
    font-size: 16px;
}
#section_chemist
{
    background-color: #e5e5ef;
    color:#686868;   
    width: 100%;
    min-height:600px;
}
#section_chemist h2
{
    font-size: 4em;
    margin-top: 5%;
    margin-bottom: 2%;
}
.table-striped>tbody>tr:nth-child(odd)>td , .table-striped>tbody>tr:nth-of-type(odd) {
    background-color: transparent !important;
    border-color: white;
    width: 3px;
}
@media (min-width: 768px)
.form-inline .form-control {
    background-color:transparent;
    height:16px;
}